
body {
    background-color: #f0f0f0;
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center; 
    align-items:start; 
}


.mobile-container {
    background-color: white; 
    max-width: 375px;
    width: 100%;
    padding: 20px; 
    box-sizing: border-box; 
    text-align: center; 
    color: black; 
}
/* top bar */
.top-bar{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
height: 44px;
}
.time span{
    font-weight: 500;
    padding-left: 20px;
}
/* logo and hamberger */
.second-bar{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.logo{
color: var(--primary-b-400, #6070FF);
font-size: 18px;
font-family: Poppins;
font-style: normal;
font-weight: 700;
line-height: 20px;
padding: 8px;
}
.hamb{
    padding: 8px;
}
.hero{
    height: 500px;
}
.hero-title{
    font-family: Poppins;
    margin-top: 70px;
    margin-bottom: unset;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    color: #172B4D;
}
.hero-para{
  font-family: Poppins;
 text-align: left;
 font-size: 20px;
 font-weight: 400;
}
.social-text{
    font-family: Poppins;
    text-align: left;
    color: #7F8CFF;
    
}
.social-icons{
  text-align: left;
}
main{
    
background-image: url('background.png');
background-repeat: no-repeat;
background-position: top;
background-size: cover;
}
.portfolio{
    display: inline-flex;
padding: 114px 24px;
flex-direction: column;
align-items: center;
gap: 88px;
}
.outer-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; 
    justify-content: center;
    
    height:2,788px;
    margin-top:1px; 
    background-color: #f0f0f0;
    border:1px solid #DFE1E6
}
/* Inner container using Flexbox */
.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 344; 
    height: 552px; 
    padding: 16px; 
    
    border: 1px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),linear-gradient(0deg, #DFE1E6, #DFE1E6);
    
}
.content{
    margin-left: 16px;
    margin-top: 12px;
    
}
.content h1{
    display:inline;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    color: rgba(52, 69, 99, 1);
}
.content svg{
    padding-top: 12px;
    padding-left:12px;
}

.para{
    width: 295px;
height: 76px;
font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(52, 69, 99, 1);
}
.HTML{
width: 57px;
height: 24px;
padding: 4px, 12px, 4px, 12px;
border:none;
border-radius:8px;
background: rgba(235, 235, 255, 1);
font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.03em;
text-align: center;
color: rgba(96, 112, 255, 1);
}
.CSS{
    width: 49px;
height: 24px;
padding: 4px, 12px, 4px, 12px;
border: none;
border-radius:8px;
background: rgba(235, 235, 255, 1);
font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.03em;
text-align: center;
color: rgba(96, 112, 255, 1);
}
.JS{
background :rgba(235, 235, 255, 1);
width: 92px;
height: 24px;
padding: 4px, 12px, 4px, 12px;
border: none;
border-radius:8px;
font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.03em;
text-align: center;
color: rgba(96, 112, 255, 1);

}
.project{
width:126px;
height: 48px;
margin-top: 12px;
border-radius: 8px;
gap: 10px;
background:white;
border-color: rgba(96, 112, 255, 1);


font-family: Poppins;
font-size: 17px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.03em;
text-align: centre;
display:inline;
color: rgba(57, 109, 242, 1);
}


    .inner-container2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        width: 344px;
        height: 596px;
        padding: 16px;
        border: 1px solid #DFE1E6;
        gap: 12px;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #DFE1E6, #DFE1E6);
    }
    .content3{
        margin-left: 16px;
        margin-top: 12px
    
        }
.image{
    padding-top:12px;
    justify-content:center ;
}

    
    .content2 h1{
        font-family: Poppins;
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left; 
        color: rgba(23, 43, 77, 1);
        word-break:keep-all ;
        
    }
    .inner-container3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        width: 344px;
        height: 596px;
        padding: 16px;
        border: 1px solid #DFE1E6;
        gap: 12px;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #DFE1E6, #DFE1E6);
    }
    .content3{
    margin-left: 16px;
    margin-top: 12px
    }
    .content3 h1{
        display:inline;
        font-family: Poppins;
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        text-align: left;
        color: rgba(52, 69, 99, 1);
    }

    .inner-container4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        width: 344px; 
        height: 552px; 
        padding: 16px;  
        border: 1px;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF),linear-gradient(0deg, #DFE1E6, #DFE1E6);
        
    }

    .content4{
        margin-left: 16px;
        margin-top: 12px;
        
    }
    .content4 h1{
        display:inline;
        font-family: Poppins;
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        text-align: left;
        color: rgba(52, 69, 99, 1);
    }
    .inner-container5
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        width: 375px; 
        height: 1062.15px; 
        border-radius: 16px; 
        border: 1px;
        top: 3506px;
        padding:114px,24px,114px,24px;
    border-top-right-radius: 80px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),linear-gradient(0deg, #DFE1E6, #DFE1E6);

    
}
.title{
        font-family: Poppins;
        margin-top: 70px;
        margin-bottom: unset;
        font-size: 40px;
        font-weight: 700;
        text-align: left;
        margin-left: 20px;
        color:  rgba(23, 43, 77, 1);
        ;
    }
    .para5{
        width: 327px;
        height: 147px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 20px;
        color: rgba(52, 69, 99, 1);
    }
    .connect{
        display:inline;
width: 117px;
height: 24px;

font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
margin-left: 20px;
color: rgba(127, 140, 255, 1);

    }
    .resume{
        width:162px;
height: 48px;
margin-top: 12px;
border-radius: 8px;
gap: 10px;
background:white;
border-color: rgba(96, 112, 255, 1);
margin-left: 20px;

font-family: Poppins;
font-size: 17px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.03em;
text-align: centre;
display:inline;
color: rgba(57, 109, 242, 1);
}
.language p{
    display:inline-block;
width: 237px;
height: 24px;
padding-top: 24px;
padding-left: 12px;
font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
margin-left: 20px;
color: rgba(0, 0, 0, 1);
}
    .language img{

        display:inline-block;
    width: 40px;
    height: 40px;
    top: 16px;
    left: 261px;
    padding: 8px;
    border-radius: 8px;
}




    

    